#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #3d3d3c;
  color: #c5c6d0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  color: #eff0fa;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 2px solid transparent;
  height: 48px;
  box-sizing: border-box;
  padding: 12px 16px;
  background: #191b23;
  color: inherit;
  font-family: inherit;
}

input::placeholder {
  color: #aaa;
}

.input-container {
  margin-bottom: 1rem;
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.btn {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  height: 48px;
  box-sizing: border-box;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.btn-primary {
  background-color: #2572ed;
}

.btn-danger {
  padding: 8px;
  background-color: #c74e5b;
}

.btn-control {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #37474f;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  background: none;
  color: white;
  cursor: pointer;
}

.hide {
  display: none;
}

.hostPanel {
  width: 100%;
  min-height: 100vh;
  background-color: #0a0c22;
  color: white;

  .header-host-toggle{
    min-width: 270px;
    position: fixed;
    z-index: 99;
    background-color: #142332;
    top: 50px;
    right: 20px;
    padding: 15px 10px 10px 10px;
    .th-btn{
      width: 100% !important;
    }
  }
  
  .host-content {
    width: 100%;
    padding: 10px;
  }

  table {
    width: 100%;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 5px;
    padding: 10px;
    line-height: 25px;
    font-size: 15px;
  }

  table tr {
    border-bottom: 1px solid rgb(46, 46, 46) !important;
  }

  table th {
    padding: 8px 4px 8px 4px !important;
    text-align: left;
    text-transform: uppercase;
  }

  table td {
    padding: 8px 4px 8px 4px !important;
    text-align: left;
    border-top: 1px solid rgb(46, 46, 46) !important;
  }

  table button {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 22px;
  }

  header {
    width: 100%;
    display: flex;
    padding: 20px 10px 20px 10px;
  }

  header .left {
    width: 25%;
    display: flex;
  }

  header .left .logo img {
    border-right: 1px solid white;
    padding-right: 10px;
    height: 50px;
  }

  .title {
    padding-left: 10px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
  }

  header .center {
    width: 50%;
    display: flex;
  }

  header .right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  header .right .avatar i {
    font-size: 35px;
    padding-right: 10px;
  }

  .host-room-page {
    padding: 0px;
  }

  .host-room-details-page {
    padding: 0px;
    height: 100%;

    .stream-iframe {
      min-width: 100%;
      min-height: 600px;
      border-radius: 10px;
    }

    .rtmp-button {
      border: 1px solid #191b23;
      width: 300px;
      margin: 20px 0px 20px 0px;
      padding: 7px 5px 7px 5px;
      display: flex;
      align-items: center;
    }

    .rtmp-button .rtmp-live-off::before {
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50px;
      display: inline-block;
      margin: 0px 10px 0px 10px;
      background-color: rgb(73, 73, 73);
    }

    .rtmp-button .rtmp-live-on::before {
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50px;
      display: inline-block;
      margin: 0px 10px 0px 10px;
      background-color: rgb(255, 0, 0);
      animation: blink 1.5s ease-in-out infinite;
    }
  }

  .host-login-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form {
      width: 33%;
      padding-top: 200px;
    }
  }

  .modal-content {
    background-color: #142332 !important;
    color: white;
  }

  .th-btn {
    margin: 2px;
    padding: 5px 10px 5px 10px;
    outline: none;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 5px;
    background-color: transparent;
    font-weight: 500;
    color: rgb(202, 202, 202);
    margin-bottom: 20px !important;
  }

  .th-btn.btn-th-primary {
    border: 1px solid #4095fb !important;
    background-color: transparent;
    color: #4095fb;
  }

  .th-btn.btn-th-success {
    border: 1px solid #148022 !important;
    background-color: transparent;
    color: #148022;
  }

  .th-btn.btn-th-danger {
    border: 1px solid #8a1d1d !important;
    background-color: transparent;
    color: #8a1d1d;
  }

  .th-input-group {
    display: inline;
    margin: 6px 4px 10px 4px !important;
  }

  .th-form-control {
    margin: 0px 0px 10px 0px !important;
    outline: none;
  }
}

/* speaker conference */
.speaker-page {
  width: 100%;
  height: inherit;
  background-color: #222;
  min-height: 100vh;

  .home {
    color: white;
    text-align: center;
    padding: 20px;
  }

  .home .logo {
    width: 160px;
    height: 95px;
  }

  .speaker-conference {
    height: 100vh;
    box-sizing: border-box;
  }

  .peer-container {
    padding-top: 10px;
    height: 15%;
  }

  .peer-tile {
    width: 90%;
    height: 135px !important;
    border-radius: 7px;
    background-color: #292e38;
  }

  .peer-video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #191b23;
    background: #222;
  }

  .peer-video-placeholder {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .peer-video-placeholder-label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    height: 45px;
    width: 45px;
    background-color: #0a0c22;
    border-radius: 50%;
  }

  .video-cover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #191b23;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .peer-name {
    position: relative;
    z-index: 2;
    margin-top: -30px;
    margin-left: 10px;
    float: left;
    background-color: #191b23;
    padding: 3px 5px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: white;
    border-radius: 3px;
  }

  .controls {
    height: 10%;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    z-index: 10;
    padding: 10px 0px 10px 0px;
  }

  .media-controls {
    width: 33%;
    display: flex;
    justify-content: left;
  }

  .main-controls {
    width: 33%;
    display: flex;
    justify-content: center;
  }

  .leave-controls {
    width: 33%;
    float: right;
    display: flex;
    justify-content: right;
  }

  .control-button {
    background-color: #292e38;
    border: 1px solid #292e38;
    color: white;
    border: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }

  .control-button span {
    margin-left: 8px;
    font-size: 16px;
  }

  .control-button.active {
    background-color: transparent;
    border: 1px solid #ffffff;
  }

  .leave-button {
    background-color: #ff4658;
  }

  .main-div {
    height: 75%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 20px;
  }

  .main-peer-tile {
    height: 100%;
    width: 80%;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
    background-color: #292e38;
  }

  .screeen-sharing {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
    background-color: black;
  }

  .screeen-sharing-container {
    height: 100%;
    width: 80%;
  }

  .screeen-sharing-label {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .screeen-sharing-label h3 {
    color: white;
    align-items: center;
  }

  /* .screeen-sharing-container{
  height: 70%;
  display: none;
}

.screeen-sharing-container.active{
  display: block;
} */
}
/* speaker conference */

/* play stream page */
.play-stream-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;

  /* Video element */
  .video-ele {
    width: 100%;
    height: 100%;
    object-fit: contain; /* keeps aspect ratio */
    background: #000;
  }

  p {
    color: white;
  }
}
/* play stream page */

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  40%,
  70% {
    opacity: 1;
  }
}
