* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #011d2b !important;
  color: white !important;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(195, 195, 195);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

.logo {
  height: 40px;
}

.btn-danger {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 14px;
  background-color: #f44336;
  color: white;
  font-family: inherit;
  font-size: 14px;
}

.hide {
  display: none !important;
}

form {
  max-width: 450px;
  margin: 30px auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 20px;
}

input {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 2px solid transparent;
  height: 34px;
  padding: 5px;
  background: #37474f;
  color: inherit;
  font-family: inherit;
}

input::placeholder {
  color: #aaa;
}

.input-container {
  margin-bottom: 20px;
}

.btn-primary {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 14px;
  background-color: #1565c0;
  color: white;
  font-family: inherit;
  font-size: 14px;
}

form h2,
.conference-section h2 {
  border-bottom: 1px solid #546e7a;
}

.conference-section {
  max-width: 960px;
  margin: 0 auto;
}

.conference-section h2 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid #546e7a;
}

#peers-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  place-items: center;
  grid-gap: 10px;
}

main {
  display: none;
  height: 70vh;
  padding-left: 50px;
  padding-right: 50px;
}

.sharing-screen {
  color: white;
  background-color: #172f3b;
  font-size: 22px;
  font-weight: 500;
  width: 100% !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.peer-video {
  height: 120px;
  width: 220px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 10px;
}

.local.peer-video {
  transform: scaleX(-1);
}

.peer-name {
  font-size: 14px;
  text-align: center;
}

.peer-tile {
  padding: 10px;
}

.control-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  justify-content: space-between;
  background: rgba(15, 15, 15, 0.58);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  z-index: 10;
}

.control-bar > *:not(:first-child) {
  margin-left: 8px;
}

.btn-control {
  font-size: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
}

.peer-video-placement {
  height: 120px;
  width: 220px;
  border-radius: 5px;
  background-color: #172f3b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.hide-screen-sharing {
  background-color: #3d474d;
  font-size: 18px;
  font-weight: 400;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.hide-screen-sharing i {
  margin-right: 6px;
}

.peer-video-placement-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  background-color: #3d474d;
  user-select: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
}

.screen-share {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.control-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-bar {
  display: none;
  width: 370px;
  height: 80vh;
  right: 0px;
  background-color: #011d2b;
  background: rgba(15, 15, 15, 0.58);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border-radius: 8px;
  position: fixed;
  padding: 10px;
  z-index: 5;
}

.side-bar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #37474f;
  color: white !important;
}

.side-bar-header button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.message-form {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border-top: 1px solid #37474f;
  /* border: none; */
}

.message-form input {
  width: 85%;
  border-radius: 4px;
  padding: 0px 10px;
  color: white;
  font-size: 18px;
  outline: none;
  background-color: #31313171;
  background-color: transparent;
}

.message-form button {
  width: 18%;
  height: 35px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.messages-div {
  height: 80%;
  overflow-y: auto;
}

.message-tile {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  word-wrap: break-word;
}
.sender-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3d474d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-right: 8px;
}
.message-content {
  font-size: 16px;
  line-height: 1.4;
}

.message-timestamp {
  font-size: 12px;
  color: #aaa;
  margin-top: 4px;
  float: right;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 34, 36, 0.58);
  margin: 15% auto;
  padding: 10px;
  width: 50%;
}

.modal-data {
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #37474f;
  color: white !important;
}

.modal-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-footer {
  padding-top: 10px;
  border-top: 1px solid #37474f;
  text-align: right;
}

.modal .close-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.poll-input {
  font-size: 15px;
  width: 95%;
  margin: 10px;
  border-radius: 4px;
  border-bottom: 1px solid #546e7a;
  padding: 5px;
  background: transparent;
  color: inherit;
  font-family: inherit;
  outline: none;
}
.poll-option-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-option {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 10px;
}

.question-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poll-question-container {
  width: 100%;
  border: 1px solid #546e7a;
  border-radius: 4px;
  padding: 5px;
  background: transparent;
}
.add-question {
  /* margin-bottom: 10px; */
  float: right;
}

.remove-question {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  float: right;
}

.modal {
  display: none;
}
